# Eniric MANIFEST.in
include *.md
include LICENSE
include requirements*.txt
#recursive-include data/ *
include pyproject.toml
include tests/test_*.py
include tests/data/test_config.yaml
include eniric/config.yaml
include docs/Notebooks/*.ipynb
include docs/Notebooks/config.yaml
recursive-include scripts *
include Makefile
include paper/*
include setup.*
include conftest.py
