# Eniric MANIFEST.in
include *.md
include LICENCE
include requirements*.txt
recursive-include data/ *

include tests/test_*.py
include config.yaml
include eniric/config.yaml
include tests/config.yaml
include docs/Notebooks/*.ipynb
include docs/Notebooks/config.yaml
include eniric_scripts *
