astropy==5.0.4
coverage==6.3.2
git+https://github.com/jason-neal/starfish@eniric_suitable#egg=astrostarfish
hypothesis==6.46.1
joblib==1.1.0  # >=0.12.3
matplotlib==3.5.1
multiprocess==0.70.12.2
mypy==0.950
numpy==1.22.3
oyaml==1.0
pandas==1.4.2
pre-commit==2.18.1
pytest==7.1.2
pytest-cov==2.9.0
pyyaml==5.3.1
scipy==1.4.1
tqdm==4.46.0
