astropy>=3.0.0
https://github.com/jason-neal/Starfish/archive/eniric_suitable.zip#egg=Starfish
joblib>=0.12.3  # >=0.12.3
matplotlib
multiprocess
numpy>=1.15.4  # numpy>=1.15.4
pandas
pyyaml
scipy
tqdm
