astropy>=3.0.0
joblib>=0.12.3  # >=0.12.3
matplotlib
multiprocess
numpy>=1.15.4  # numpy>=1.15.4
pandas
pyyaml
scipy
tqdm
# Starfish install- currently needs numpy and cython pre-installed
# https://github.com/iancze/Starfish/archive/master.zip#egg=Starfish
