astropy==4.1
coverage==5.3
git+https://github.com/jason-neal/starfish@eniric_suitable#egg=astrostarfish
hypothesis==5.41.0
joblib==0.17.0  # >=0.12.3
matplotlib==3.3.2
multiprocess==0.70.10
mypy==0.790
numpy==1.19.3
oyaml==1.0
pandas==1.1.4
pre-commit==2.8.2
pytest==5.4.2
pytest-cov==2.9.0
pyyaml==5.3.1
scipy==1.4.1
tqdm==4.46.0
