astropy
coverage
git+https://github.com/jason-neal/starfish@eniric_suitable#egg=astrostarfish
hypothesis
joblib  # >=0.12.3
matplotlib
multiprocess
mypy
numpy
oyaml
pandas
pre-commit
pytest
pytest-cov
pyyaml
scipy
tqdm
