astropy>=3.0.0
astrostarfish
joblib>=0.12.3  # >=0.12.3
matplotlib
numpy>=1.15.4  # numpy>=1.15.4
oyaml
pandas
pyyaml
scipy
tqdm
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
